<div class="absolute bg-gray-100 top-0 left-0 w-full min-h-screen z-10">
  <StepManager as |w|>
    <nav class="absolute flex flex-row-reverse top-0 right-0 m-4" {{did-insert (set this.stepManager w)}}>
      {{#unless this.first}}
        {{#if this.member.capabilities.hasDirtyAttributes}}
          {{#if this.requestingExit}}
            <button class="border border-black" {{action (mut this.requestingExit) false}} data-test-cancel-exit>
              Cancel exit
            </button>
            <button class="border border-black bg-orange-300" {{action this.exit}} data-test-exit>
              Exit without saving
            </button>
          {{else}}
            <button class="border border-black " {{action (mut this.requestingExit) true}} data-test-request-exit>
              Exit
            </button>
          {{/if}}
        {{else}}
          <button class="border border-black absolute" {{action this.exit}} data-test-exit>
            Exit
          </button>
        {{/if}}
      {{/unless}}
    </nav>

    <w.step>
      <h2 class="text-2xl">Capabilities</h2>

      We will walk through required and optional permissions and preferences.

      {{#if this.forced}}
        <div class="bg-orange-100 border border-orange-400 text-orange-700 px-4 py-3 rounded relative w-full" role="alert" data-test-alert>
          Please refresh these details as your device has changed.
        </div>
      {{/if}}

      <button class="border border-black" {{action w.transition-to-next}} data-test-next>
        Next
      </button>
    </w.step>

    <w.step>
      <h2 class="text-2xl">Capabilities: Device</h2>

      These are some characteristics of this device.

      <ul>
        {{#each-in this.device as |key value|}}
          <li data-test-device={{key}}>
            {{key}}: <span data-test-value>{{value}}</span>
          </li>
        {{/each-in}}
      </ul>

      <button class="border border-black" {{action w.transition-to-next}} data-test-next>
        Next
      </button>
    </w.step>

    {{#each this.hardwareCapabilities as |capability|}}
      <w.step>
        <h2 class="text-2xl">Capabilities: {{capability.label}}</h2>

        <p>{{capability.description}}</p>

        {{#unless capability.required}}
          <button class="border border-black" {{on "click" (action this.transitionToNextStep)}} data-test-skip>
            Skip
          </button>
        {{/unless}}

        {{#if (or (and capability.validationMessage (get this (concat "validating" capability.label))))}}
          <p data-test-validation>{{capability.validationMessage}}</p>
          <button class="border border-black" {{on "click" (action this.transitionToNextStep)}} data-test-validate>
            Yes
          </button>
          <button class="border border-black" {{on "click" capability.action}} data-test-request>
            Try again
          </button>
        {{else}}
          <button class="border border-black" {{on "click" capability.action}} data-test-request>
            {{#if this.error}}Try again{{else}}Request{{/if}}
          </button>
        {{/if}}
      </w.step>
    {{/each}}

    <w.step>
      <h2 class="text-2xl">Capabilities: Physical</h2>

      <p>Some games have a significant physical component or happen in places with accessibility particularities. Let us know what kinds of games and places you can or want to access.</p>

      {{#each this.physicalCapabilities as |capability|}}
        <div>
          <label for={{capability.id}}>{{capability.label}}</label>
          <Input @id={{capability.id}} @type="checkbox" @name={{capability.id}} @checked={{get this.member.capabilities capability.id}} />
          <p>{{capability.description}}</p>
        </div>
      {{/each}}

      <button class="border border-black" {{action w.transition-to-previous}} data-test-previous>
        Previous
      </button>

      <button class="border border-black" {{action w.transition-to-next}} data-test-next>
        Next
      </button>
    </w.step>

    <w.step>
      <h2 class="text-2xl">Capabilities: Phone</h2>

      <p>Games involve particular types of movements on the phone. Let us know which kinds of movements work for you.</p>

      {{#each this.phoneCapabilities as |capability|}}
        <div>
          <label for={{capability.id}}>{{capability.label}}</label>
          <Input @id={{capability.id}} @type="checkbox" @name={{capability.id}} @checked={{get this.member.capabilities capability.id}} />
          <p>{{capability.description}}</p>
        </div>
      {{/each}}

      <button class="border border-black" {{action w.transition-to-previous}} data-test-previous>
        Previous
      </button>

      <button class="border border-black" {{action w.transition-to-next}} data-test-next>
        Next
      </button>
    </w.step>

    <w.step>
      <h2 class="text-2xl">Capabilities: Summary</h2>

      <ul>
        {{#each-in this.capabilities as |key value|}}
          <li data-test-capability={{key}}>
            {{key}}: <span data-test-value>{{value}}</span>
          </li>
        {{/each-in}}
      </ul>

      <button class="border border-black" {{action w.transition-to-previous}} data-test-previous>
        Previous
      </button>

      <button class="border border-black" {{on "click" (perform this.save)}} data-test-save>
        Save
      </button>
    </w.step>

    {{#if this.error}}
      <p>Error: <span data-test-error>{{this.error}}</span></p>
    {{/if}}
  </StepManager>
</div>
