<div class="absolute bg-region top-0 left-0 w-full min-h-screen z-10 flex flex-col p-2-safe">
  <nav class="absolute flex flex-row-reverse top-safe right-0 mr-4">
    {{#unless this.first}}
      {{#if this.member.capabilities.hasDirtyAttributes}}
        {{#if this.requestingExit}}
          <button class="btn" {{action (mut this.requestingExit) false}} data-test-cancel-exit>
            Cancel exit
          </button>
          <button class="btn bg-orange-300" {{action this.exit}} data-test-exit>
            Exit without saving
          </button>
        {{else}}
          <button class="btn" {{action (mut this.requestingExit) true}} data-test-request-exit>
            Exit
          </button>
        {{/if}}
      {{else}}
        <button class="absolute font-arrows text-2xl" {{action this.exit}} data-test-exit>
          ;
        </button>
      {{/if}}
    {{/unless}}
  </nav>

  {{#let this.step as |s|}}
    <header>
      <h2 class="text-2xl inline">
        {{s.title}}
      </h2>
      <span class="text-sm" data-test-progress>{{this.progress}}</span>
    </header>

    <p class="mb-2">
      {{s.description}}
    </p>

    {{#let (component (concat "walkthrough/" s.property)) (component (concat "capabilities/" s.property)) as |WalkthroughComponent ProviderComponent|}}
      <ProviderComponent @member={{this.member}} as |provider|>
        {{#unless s.informational}}
          <button class="btn mb-2 {{if provider.request.isRunning "loading:bg-region"}}" {{on "click" (perform provider.request)}} data-test-request>
            {{#if provider.request.isRunning}}
              &nbsp;
            {{else if provider.request.performCount}}
              Request again
            {{else}}
              Request
            {{/if}}
          </button>
        {{/unless}}

        <WalkthroughComponent @provider={{provider}} @member={{this.member}} @first={{this.first}} @forced={{this.forced}} />

        {{#if provider.error}}
          <p>Error: {{provider.error}}</p>

          {{#if s.required}}
            <p class="mb-2">Things will be significantly broken without this, but you can proceed.</p>
          {{/if}}
        {{/if}}

        <nav class="flex flex-row">
          <button class="btn flex-1 mr-1 opacity-50" disabled data-test-previous>
            Previous
          </button>
          {{#if this.last}}
            <button class="btn flex-1 ml-1" {{action (perform this.save)}} data-test-save>
              Save
            </button>
          {{else if provider.request.last.isSuccessful}}
            <button class="btn flex-1 ml-1" {{action this.next}} data-test-next>
              Next
            </button>
          {{else if provider.error}}
            <button class="btn flex-1 ml-1" {{action this.skip}} data-test-skip>
              Ignore
            </button>
          {{else if s.required}}
            <button class="btn flex-1 ml-1 opacity-50" disabled data-test-next>
              Next
            </button>
          {{else}}
            <button class="btn flex-1 ml-1" {{action this.skip}} data-test-skip>
              Skip
            </button>
          {{/if}}
        </nav>
      </ProviderComponent>
    {{/let}}
  {{/let}}
</div>
