<div class="bg-purple-300 p-1" {{did-insert this.vibrateIfRepresenting}} data-test-active-game>
  Game in progress: <span data-test-concept-name>{{@game.incarnation.concept.name}}</span>
  <p data-test-time-remaining>
    {{moment-diff this.gameClock.date @game.endsAt precision="seconds" interval=200}} seconds remaining
  </p>

  {{#if this.isRepresenting}}
    {{#let (component (concat "concepts/" @game.incarnation.concept.id)) as |Game|}}
      <Game @game={{@game}} />
    {{/let}}
  {{else}}
    <p>You are not representing your team in this game</p>
  {{/if}}

  <GameResults @game={{@game}} />
</div>
