{{#if this.participationsWithResults}}
  Results:
  <ul data-test-results>
    {{#each this.participationsWithResults as |participation|}}
      <li data-test-team-id={{participation.team.id}}>
        {{participation.team.name}}
        <span data-test-score>{{participation.score}}</span>
        {{#if participation.winner}}
          <span data-test-winner>✓</span>
        {{/if}}
        <ul>
          {{#each participation.representations as |representation|}}
            <li data-test-member-id={{representation.member.id}}>
              {{representation.member.name}}: <RepresentationResult @representation={{representation}} />
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{/if}}