<li class="border border-black p-1" data-test-game data-test-game-id={{@game.id}}>
  {{#if this.shouldVibrate}}<span {{did-insert this.vibration.vibrate}}>{{!-- FIXME can a modifier be conditionally included above? --}}</span>{{/if}}
  <p>Game name: <span data-test-concept-name>{{@game.incarnation.concept.name}}</span></p>
  <p data-test-duration>{{@game.duration}} seconds</p>

  {{#if this.memberRepresentation}}
    <p data-test-instructions>{{@game.incarnation.concept.instructions}}</p>
  {{/if}}

  {{#if this.canAccept}}
    <GameActionButton @game={{@game}} @action={{@game.accept}} data-test-accept>Accept</GameActionButton>
  {{/if}}

  {{#if this.canArrive}}
    <GameActionButton @game={{@game}} @action={{@game.arrive}} data-test-arrive>Arrive</GameActionButton>
  {{/if}}

  {{#if this.canRepresent}}
    <GameActionButton @game={{@game}} @action={{@game.represent}} @data={{hash representing=true}} data-test-represent>Represent</GameActionButton>
    <GameActionButton @game={{@game}} @action={{@game.represent}} @data={{hash representing=false}} data-test-antirepresent>Don’t represent</GameActionButton>
    <p data-test-representing-choice>If no one on your team chooses to represent, representation will be chosen for you.</p>
  {{/if}}

  {{#if this.canUnrepresent}}
    {{#if this.isSoloTeam}}
      <p data-test-representing-others>Waiting for everyone to choose representation.</p>
    {{else}}
      <GameActionButton @game={{@game}} @action={{@game.represent}} @data={{hash representing=null}} data-test-unrepresent>
        Revert decision to {{if this.memberRepresentation.representing "" "not"}} represent
      </GameActionButton>
    {{/if}}
  {{/if}}

  {{#if (or this.canRepresent this.canUnrepresent)}}
    <p data-test-representing-ends-at>
      Representing ends in {{pluralize (moment-diff this.gameClock.date @game.representingEndsAt precision="seconds" interval=200) "second"}}
    </p>
  {{/if}}

  {{#if this.canCancel}}
    <GameActionButton @game={{@game}} @action={{@game.cancel}} @confirmation="Really?" @declination="No" data-test-cancel>Cancel</GameActionButton>
  {{/if}}

  {{#if this.canDismiss}}
    <GameActionButton @game={{@game}} @action={{@game.dismiss}} data-test-dismiss>Dismiss</GameActionButton>
  {{/if}}

  <p>
    Teams:
    <ul>
      {{#each @game.participations as |participation|}}
        <li data-test-team-id={{participation.team.id}}>
          <span data-test-name>{{participation.team.name}}{{if (eq participation.team.id @team.id) " (you)"}}</span>:
          <span data-test-state>{{participation.state}}</span>
        </li>
      {{/each}}
    </ul>
  </p>

  {{#if this.isScoring}}
    <p data-test-scoring>Awaiting results…</p>
  {{else}}
    {{#if @game.beginsAt}}
      {{#unless this.isSoloTeam}}
        <p data-test-scheduled-representing>You are {{if this.memberRepresentation.representing "" "not"}} representing your team for this game.</p>
      {{/unless}}

      <p data-test-begins-at>Begins in {{pluralize (moment-diff this.gameClock.date @game.beginsAt precision="seconds" interval=200) "second"}}</p>
    {{/if}}
  {{/if}}
</li>
