<li class="border border-black p-1" data-test-game data-test-game-id={{@game.id}}>
  {{#if this.shouldVibrate}}<span {{did-insert this.vibration.vibrate}}>{{!-- FIXME can a modifier be conditionally included above? --}}</span>{{/if}}
  <p>Game name: <span data-test-concept-name>{{@game.incarnation.concept.name}}</span></p>

  {{#if this.canAccept}}
    <button class="border border-black" {{on "click" (perform this.acceptGame)}} data-test-accept>Accept</button>
  {{/if}}

  {{#if this.canArrive}}
    <button class="border border-black" {{on "click" (perform this.arriveGame)}} data-test-arrive>Arrive</button>
  {{/if}}

  {{#if this.canRepresent}}
    <button class="border border-black" {{on "click" (perform this.representGame true)}} data-test-represent>Represent</button>
    <button class="border border-black" {{on "click" (perform this.representGame false)}} data-test-antirepresent>Don’t represent</button>
  {{/if}}

  {{#if this.canUnrepresent}}
    <button class="border border-black" {{on "click" (perform this.representGame null)}} data-test-unrepresent>Clear decision</button>
  {{/if}}

  {{#if this.canCancel}}
    <button class="border border-black" {{on "click" (perform this.cancelGame)}} data-test-cancel>Cancel</button>
  {{/if}}

  {{#if this.canDismiss}}
    <button class="border border-black" {{on "click" (perform this.dismissGame)}} data-test-dismiss>Dismiss</button>
  {{/if}}

  <p>
    Teams:
    <ul>
      {{#each @game.participations as |participation|}}
        <li data-test-team-id={{participation.team.id}}>
          <span data-test-name>{{participation.team.name}}{{if (eq participation.team.id @team.id) " (you)"}}</span>:
          <span data-test-state>{{participation.state}}</span>
        </li>
      {{/each}}
    </ul>
  </p>

  {{#if @game.beginsAt}}
    <p data-test-begins-at>Begins in {{moment-diff this.gameClock.date @game.beginsAt precision="seconds" interval=200}} seconds</p>
  {{/if}}

  {{#if this.participationIsScheduled}}
    <p data-test-instructions>{{@game.incarnation.concept.instructions}}</p>
  {{/if}}
</li>
