{{#if this.showingConfirmation}}
  <button class="btn" {{on "click" (action (mut this.showingConfirmation) false)}} data-test-cancel>
    {{@declination}}
  </button>
{{/if}}
<button class="btn {{if this.callAction.isRunning "opacity-50"}} {{if this.showingConfirmation "bg-orange-300"}}" {{on "click" this.clicked}} disabled={{this.callAction.isRunning}} data-test-action-confirmation={{this.showingConfirmation}} ...attributes>
  {{#if this.showingConfirmation}}
    {{@confirmation}}
  {{else}}
    {{yield}}
  {{/if}}
</button>
