{{#let (icon iconUrl="assets/icons/playground.svg" iconSize=(point 25 25)) (icon iconUrl="assets/icons/bowling-alley.svg" iconSize=(point 25 25)) as |memberIcon incarnationIcon|}}
  <LeafletMap @lat={{this.lat}} @lng={{this.lon}} @zoom={{this.zoom}} class="w-full h-64" data-test-map as |layers|>
    <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"></layers.tile>

    {{#if (and this.mapTileUrl (not this.testing))}}
      <layers.tile @url={{this.mapTileUrl}} @bounds={{this.bounds}}></layers.tile>
    {{/if}}

    {{#each @teams as |team|}}
      {{#each team.members as |member|}}
        {{#if (and member.lat member.lon)}}
          <layers.marker @location={{hash lat=member.lat lon=member.lon}} @icon={{memberIcon}} as |marker|>
            <marker.popup>
              <span data-test-marker-popup-member-id={{member.id}}>
                {{member.name}}
              </span>
            </marker.popup>
          </layers.marker>
        {{/if}}
      {{/each}}
    {{/each}}

    {{#each @incarnations as |incarnation|}}
      {{#if (and incarnation.lat incarnation.lon)}}
        <layers.marker @location={{hash lat=incarnation.lat lon=incarnation.lon}} @icon={{incarnationIcon}} />
      {{/if}}
    {{/each}}
  </LeafletMap>
{{/let}}