{{#let @representation.result as |result|}}
  <span data-test-result>
    {{#if result.value}}
      {{result.value}}
    {{else if result.matches}}
      {{join ", " result.matches}} and {{pluralize this.nonmatches "other non-match"}}
    {{else}}
      {{join ", " result.values}}
    {{/if}}
  </span>
{{/let}}