<Capabilities::Bluetooth as |bluetooth|>
  <p {{did-insert (perform bluetooth.request)}}>Bluetooth status: <span data-test-bluetooth-status>{{bluetooth.status}}</span></p>

  {{#if (eq bluetooth.status "enabled")}}
    <p>Detected device count: <span data-test-bluetooth-count>{{bluetooth.devices.length}}</span></p>
    <ul {{did-update this.updateDevices bluetooth.devices}}>
      {{#each bluetooth.devices as |device|}}
        <li data-test-bluetooth-device>{{device}}</li>
      {{/each}}
    </ul>
  {{/if}}
</Capabilities::Bluetooth>
