<Capabilities::Magnetometer as |magnetometer|>
  <p {{did-insert (perform magnetometer.request)}}>
    Current magnitude: <span data-test-current>{{or magnetometer.reading.magnitude 0}}</span>
  </p>


  <p {{did-update this.setNewMax magnetometer.reading.magnitude}}>
    Maximum magnitude: <span data-test-maximum>{{this.maximumMagnitude}}</span>
  </p>

  <meter max={{this.maximumMagnitude}} value={{magnetometer.reading.magnitude}} />
</Capabilities::Magnetometer>
