{{set-body-class "region-none"}}

<h1 class="text-2xl">
  <LinkTo @route="application">waydowntown</LinkTo>

  <button class="text-xs" {{on "click" this.toggleDiagnostics}}>⌁</button>
</h1>

{{#if this.showDiagnostics}}
  <p>URL: {{this.url}}</p>
  <p>API: {{this.api}}</p>
  <nav class="pl-8">
    <ul class="list-disc">
      <li><LinkTo @route="barcode">Barcode Scanner</LinkTo></li>
      <li><LinkTo @route="battery">Battery</LinkTo></li>
      <li><LinkTo @route="bluetooth-scan">Bluetooth Scan</LinkTo></li>
      <li><LinkTo @route="brightness">Brightness</LinkTo></li>
      <li><LinkTo @route="compass">Compass</LinkTo></li>
      <li><LinkTo @route="db-meter">dB Meter</LinkTo></li>
      <li><LinkTo @route="location">Location</LinkTo></li>
      <li><LinkTo @route="motion">Motion</LinkTo></li>
      <li><LinkTo @route="ocr">OCR</LinkTo></li>
      <li><LinkTo @route="orientation">Orientation</LinkTo></li>
      <li><LinkTo @route="sim">SIM</LinkTo></li>
      <li><LinkTo @route="vibration">Vibration</LinkTo></li>
      <li><LinkTo @route="volume">Volume</LinkTo></li>
    </ul>
  </nav>
{{/if}}

{{outlet}}

{{#if this.debugLog.entries}}
  <div class="fixed left-0 bottom-0 bg-region-contrast text-region-contrast p-1 w-full h-{{if this.showLogEntries "32" "8"}} overflow-y-scroll" data-test-log-drawer>
    <button class="text-center w-full" {{on "click" this.toggleLogEntries}} data-test-log-count>
      {{if this.showLogEntries "Hide" "Show"}} {{pluralize this.debugLog.entries.length "log entry"}}
    </button>
    {{#if this.showLogEntries}}
      <ul>
        {{#each this.debugLog.entries as |entry|}}
          <li data-test-log-entry>{{entry}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}

{{#if this.flashMessages.queue}}
  <div class="fixed left-0 top-0 right-0 z-10 p-4">
    {{#each this.flashMessages.queue as |flash|}}
      <Alert @flash={{flash}} />
    {{/each}}
  </div>
{{/if}}