<h1 class="text-2xl"><LinkTo @route="application">waydowntown</LinkTo></h1>

<button class="border border-black" {{on "click" this.url}}>URL?</button>

<nav class="pl-8">
  <ul class="list-disc">
    <li><LinkTo @route="battery">Battery</LinkTo></li>
    <li><LinkTo @route="bluetooth-scan">Bluetooth Scan</LinkTo></li>
    <li><LinkTo @route="brightness">Brightness</LinkTo></li>
    <li><LinkTo @route="compass">Compass</LinkTo></li>
    <li><LinkTo @route="db-meter">dB Meter</LinkTo></li>
    <li><LinkTo @route="location">Location</LinkTo></li>
    <li><LinkTo @route="motion">Motion</LinkTo></li>
    <li><LinkTo @route="orientation">Orientation</LinkTo></li>
    <li><LinkTo @route="sim">SIM</LinkTo></li>
    <li><LinkTo @route="volume">Volume</LinkTo></li>
  </ul>
</nav>

<br>

<nav class="pl-8">
  <ul class="list-disc">
    <li><LinkTo @route="teams">Teams</LinkTo></li>
  </ul>
</nav>

{{outlet}}

{{#if this.debugLog.entries}}
  <button {{on "click" (action (mut this.showLogEntries true))}} class="fixed left-0 bottom-0 bg-gray-200 p-1 w-full h-16 overflow-y-scroll" data-test-log-drawer>
    <div data-test-log-count>{{this.debugLog.entries.length}}</div>
    {{#if this.showLogEntries}}
      <ul>
        {{#each this.debugLog.entries as |entry|}}
          <li data-test-log-entry>{{entry}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </button>
{{/if}}
