<Capabilities::Bluetooth as |bluetooth|>
  <p {{did-insert (perform bluetooth.request)}}>Bluetooth status: {{bluetooth.status}}</p>

  <p>
    Devices:
    <ul>
      {{#each bluetooth.devices as |device|}}
        <li>{{device}}</li>
      {{else}}
        <li>no devices</li>
      {{/each}}
    </ul>
  </p>

  {{#if bluetooth.error}}
    <p>Error: {{bluetooth.error}}</p>
  {{/if}}
</Capabilities::Bluetooth>
