<p>Bluetooth status: {{this.status}}</p>

<button class="border border-black" {{on "click" this.search}}>Search for devices</button>

{{#if this.error}}
  <p>Bluetooth error: {{this.error}}</p>
{{/if}}

<ul>
  {{#each this.devices as |device|}}
    <li>{{device}}</li>
  {{else}}
    <li>no devices</li>
  {{/each}}
</ul>
