<Capabilities::Magnetometer as |magnetometer|>
  <ul {{did-insert (perform magnetometer.request)}}>
    <li>x: {{magnetometer.reading.x}}</li>
    <li>y: {{magnetometer.reading.y}}</li>
    <li>z: {{magnetometer.reading.z}}</li>
    <li>magnitude: {{magnetometer.reading.magnitude}}</li>
  </ul>

  {{#if magnetometer.error}}
    <p>Error: {{magnetometer.error}}</p>
  {{/if}}
</Capabilities::Magnetometer>
