<div class="fixed left-0 top-0 bg-gray-200 p-1 w-full h-8" data-test-member-name>
  {{this.member.name}}
</div>

{{#each this.activeGames as |game|}}
  <div class="bg-purple-300 p-1" {{did-insert this.vibration.vibrate}} data-test-active-game>
    Game in progress: <span data-test-concept-name>{{game.incarnation.concept.name}}</span>
    <p data-test-time-remaining>
      {{moment-diff this.gameClock.date game.endsAt precision="seconds" interval=200}} seconds remaining
    </p>

    {{#let (component (concat "concepts/" game.incarnation.concept.id)) as |Game|}}
      <Game @game={{game}} />
    {{/let}}

    <GameResults @game={{game}} />
  </div>
{{/each}}

{{#if this.finishedGames}}
  Finished games:
  <ul data-test-results>
    {{#each this.finishedGames as |game|}}
      <li class="border border-black p-1">
        <span data-test-concept-name>{{game.incarnation.concept.name}}</span>: <GameResults @game={{game}} />
      </li>
    {{/each}}
  </ul>
{{/if}}

<button class="border border-black {{if this.team.cannotRequest "opacity-50 cursor-default"}}" disabled={{this.team.cannotRequest}} {{on "click" (perform this.requestGame)}} data-test-request>Request Game</button>

<button class="border border-black" {{on "click" (perform this.reloadGames)}}>
  {{#if this.reloadGames.isRunning}}
    Reloading…
  {{else}}
    Reload Games
  {{/if}}
</button>

{{#if this.invitations}}
  Invitations:
  <ul data-test-invitations>
    {{#each this.invitations as |invitation|}}
      <GameListItem @game={{invitation}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.acceptances}}
  Acceptances:
  <ul data-test-acceptances>
    {{#each this.acceptances as |acceptance|}}
      <GameListItem @game={{acceptance}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.convergings}}
  Convergings:
  <ul data-test-convergings>
    {{#each this.convergings as |converging|}}
      <GameListItem @game={{converging}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.scheduleds}}
  Scheduled:
  <ul data-test-scheduleds>
    {{#each this.scheduleds as |scheduled|}}
      <GameListItem @game={{scheduled}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.cancelledGames}}
  Cancelled:
  <ul data-test-cancellations>
    {{#each this.cancelledGames as |cancelled|}}
      <GameListItem @game={{cancelled}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.teams}}
  <ul data-test-teams>
    {{#each this.teams as |team|}}
      {{#if (not-eq team.id this.team.id)}}
        <li class={{if team.isPresent "bg-green-300" "bg-red-300"}} data-test-team-id={{team.id}}>
          {{team.name}}
          {{#each this.concepts as |concept|}}
            <button class="border border-black" {{on "click" (perform this.requestGame concept team.id)}}>{{concept}}</button>
          {{/each}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}

Start solo games:
{{#each this.concepts as |concept|}}
  <button class="border border-black" {{on "click" (perform this.requestGame concept null)}}>{{concept}}</button>
{{/each}}

{{outlet}}