<button class="border border-region" {{on "click" this.start}}>Observe</button>
<button class="border border-region" {{on "click" this.stop}}>Stop</button>

<ul>
  <li>time: {{this.event.date}}</li>
  <li>lat: {{this.event.latitude}}</li>
  <li>lon: {{this.event.longitude}}</li>
  <li>alt: {{this.event.altitude}}</li>
</ul>