<div class="fixed left-0 top-0 bg-gray-200 p-1 w-full h-8" data-test-member-name>
  {{this.member.name}}
</div>

<button class="border border-black" {{on "click" (perform this.requestGame)}} data-test-request>Request</button>

{{#if this.invitations}}
  Invitations:
  <ul data-test-invitations>
    {{#each this.invitations as |invitation|}}
      <GameListItem @game={{invitation}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.acceptances}}
  Acceptances:
  <ul data-test-acceptances>
    {{#each this.acceptances as |acceptance|}}
      <GameListItem @game={{acceptance}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.convergings}}
  Convergings:
  <ul data-test-convergings>
    {{#each this.convergings as |converging|}}
      <GameListItem @game={{converging}} @team={{this.team}} />
    {{/each}}
  </ul>
{{/if}}

{{outlet}}