{{set-body-class this.bodyClass}}

<div {{did-insert (action this.setupConsumer)}} class="fixed right-0 top-0 bg-region-contrast text-region-contrast p-1 h-8">
  <span data-test-member-name>{{this.member.name}}</span> <LinkTo @route="index" @query={{hash stop=true}} data-test-return-to-login>×</LinkTo>
</div>

<LinkTo class="underline" @route="member.capabilities">Capabilities walkthrough</LinkTo>
<LinkTo class="underline" @route="member.archived" data-test-archived>Archived</LinkTo>

{{outlet}}