<button class="border border-region" {{on "click" this.start}}>Observe</button>
<button class="border border-region" {{on "click" this.stop}}>Stop</button>

<ul>
  <li>x: {{this.event.acceleration.x}}</li>
  <li>y: {{this.event.acceleration.y}}</li>
  <li>z: {{this.event.acceleration.z}}</li>
</ul>
