<button class="btn" {{on "click" this.start}}>Observe</button>
<button class="btn" {{on "click" this.stop}}>Stop</button>

<ul>
  <li>z: {{this.event.alpha}}</li>
  <li>x: {{this.event.beta}}</li>
  <li>y: {{this.event.gamma}}</li>
</ul>
