<div class="fixed left-0 top-0 bg-gray-200 p-1 w-full h-8" data-test-team-name>
  {{this.team.data.attributes.name}}
</div>

<button class="border border-black" {{on "click" (perform this.requestGame)}} data-test-request>Request</button>

{{#if this.invitations}}
  Invitations:
  <ul data-test-invitations>
    {{#each this.invitations as |invitation|}}
      <li data-test-game-id={{invitation.id}}>
        <p>Game name: <span data-test-concept-name>{{invitation.incarnation.concept.name}}</span></p>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}