<div class="fixed left-0 top-0 bg-gray-200 p-1 w-full h-8" data-test-team-name>
  {{this.team.name}}
</div>

<button class="border border-black" {{on "click" (perform this.requestGame)}} data-test-request>Request</button>

{{#if this.invitations}}
  Invitations:
  <ul data-test-invitations>
    {{#each this.invitations as |invitation|}}
      <GameListItem @game={{invitation}} />
    {{/each}}
  </ul>
{{/if}}

{{#if this.acceptances}}
  Acceptances:
  <ul data-test-acceptances>
    {{#each this.acceptances as |acceptance|}}
      <GameListItem @game={{acceptance}} />
    {{/each}}
  </ul>
{{/if}}

{{outlet}}